<div class="btn btn-info" (click)="modalService.open(timerFormModal)"> 
    <i class="fas fa-cogs"></i> Paramètres
</div>
<ng-template #timerFormModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Paramètres :</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #form = "ngForm" [formGroup]="timerForm">
            <label class="formulaire">
                Temps limite pour choisir une réponse : <input class = "timer" type="number" [formControlName]="'timerToAnswer'"> secondes
            </label>
            <label class="formulaire">
                Temps d'affichage comparaison bonne/mauvaise : <input class = "timer" type="number" [formControlName]="'timerComparison'"> secondes
            </label>
            <label class="formulaire">
                Temps d'affichage bonne réponse : <input class = "timer" type="number" [formControlName]="'timerRightAnswer'"> secondes
            </label>
           
            <br>
            <div class = "button-bottom" >
                <button class="btn btn-success button-modal" (click)= "save();modal.close()">Enregistrer</button>
                <button class = "btn btn-warning button-modal" (click) = "reset();modal.close()">Annuler</button>
            </div>
            
        </form>
    </div>
</ng-template>