@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';
@import '../../../../styles/common.scss';

.question-list {  
  width: 80%;
  //margin-right: 1rem;
  margin-top: 3rem;
}

.question-card {
  @extend .quiz-card;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  
#redCenteredMsg {
  color: red;
  text-align: center;
  font-size: 3em;
}

.new-question{
  position: fixed;
}