@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';
@import '../../../../styles/common.scss';

.question-list {  
  width: 80%;
  margin: auto;
}

.question-card {
  @extend .quiz-card;
  text-align: center;
  margin: 1rem auto;
}
  
#redCenteredMsg {
  color: red;
  text-align: center;
  font-size: 3em;
}