@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';
@import '../../../../styles/common.scss';

.question-list {  
  width: 80%;
  //margin-right: 1rem;
  margin-top: 3rem;
}

.question-card {
  @extend .quiz-card;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  
.errorMessage{
  color: rgb(238, 12, 12);
  font-weight: bold;;
}