@import '../../../styles/card.scss';
@import '../../../styles/images.scss';
@import '../../../styles/layout.scss';

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: blue;
}

i {
    width: 250px;
    text-align: center;
}

#username {
    text-align: center;
}
