<app-header [title] = "headerTitle"></app-header>
<div class="goback-button" routerLink= "..">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div class="home-button" routerLink= "/">
    <i class="fa fa-home" aria-hidden="true"></i>
</div>
<div class="main">
    <div class="new-player"> 
        <app-player-form-modal></app-player-form-modal>
    </div>
    <div class="player-list">
        <div class="fixed-container-bigger" *ngFor="let player of playerList">
            <button class="delete-button" (click)="deletePlayer(player)">
                <i class="fas fa-times"></i>
            </button>
            <div class="quiz-card" routerLink= "./{{player.id}}">
                <app-player [player]="player" (playerDeleted) = "deletePlayer($event)"></app-player>
            </div>
        </div>
    </div>
</div>
