@import 'src/styles/card.scss';
@import 'src/styles/images.scss';

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: blue;
}

.creationDate{
    font-size: x-small;
}

.errorMessage{
    color: rgb(238, 12, 12);
    font-weight: bold;;
}

.question{
    max-height: 500px;
    max-width: 250px;
}


