@import '../../../styles/card.scss';

.box{
    margin-top: 20px;
    height: 80%;//à revoir
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    border-style: solid;
    border-color:  rgb(243, 58, 144);
    text-align: center;
}

.button-big {
    font-size: 200%;
    //margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: 30%;
    text-align: center;
  }