@import '../../../../styles/card.scss';
@import 'src/styles/images.scss';
@import 'src/styles/layout.scss';
@import '../../../../styles/common.scss';

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: blue;
}

.creationDate{
    font-size: x-small;
}

.frame-little {
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color:  rgb(243, 58, 144);
    height: 30%;
    width: 30%;
}

.errorMessage{
    color: rgb(238, 12, 12);
    font-weight: bold;;
}

#createAnswer {
    display: inline-block;
}

.answer-list {  
    /*text-align: center;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    overflow:auto; 
    height: 400px; 
    width: 75%; 
    border: 1px solid #*/
    @extend .quiz-list;
    width: 80%;
  }
    
.questionLabel{
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}

.label {
    padding-top: 5%;
    text-align: center;
}

.buttons-bottom {
    margin-top: 1em;
}

.imageAndText{
    display: flex;
}