<body>
<app-header [type]="'questionInfo'" [title]="setHeader()" [image]="image" (tab)="onNavTabClicked($event)"></app-header>
<div *ngIf = "allIsLoaded()">
  <div *ngIf="currentTab=='info'">
    <div class="horizontal-center">
    <h2>{{question.label}}</h2>
    <div class="fixed-container" *ngIf="image && image.url">
        <img class="frame thumbnail" [src]="imageService.getImgSrc1(image)" alt="photo">
    </div>
    </div>
    <app-question-form-modal [quiz]="quiz" [question]="question" [image]="image"></app-question-form-modal>
  </div>
  <div *ngIf="currentTab!='info'">
  <app-answer-form [quiz]="quiz" [question]="question"></app-answer-form>
  <div class="answer-list">
    <div class="answer" *ngFor="let answer of question.answers">
      <div class="fixed-container-bigger">
      <button class="delete-button" (click)="checkAnswer(answer); modalService.open(deleteModal)">
        <i class="fas fa-times"></i>
      </button>
      <div class="answer-card">
        <app-answer-form [quiz]="quiz" [question]="question" [answer]="answer" [alreadyRightAnswer]="true"></app-answer-form>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
</body>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation de suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="msg">
      Supprimer la réponse de façon permanente ?
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="deleteAnswer(selectedAnswer); modal.close()">Supprimer</button>
    <button class="btn btn-outline-secondary" (click)="modal.close()">Annuler</button>
  </div>
</ng-template>

<ng-template #quitWithInvalidQuestion let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Question invalide</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = "errorMessage">
      {{invalid()}}
    </div>
    <button class="button-card" (click)="goBack();modal.close()"> Quitter quand même </button>
    <button class="button-card" (click)="modal.close()"> Continuer l'édition </button>
  </div>
</ng-template>

