<button class="button-card" (click)="goBack();resetAll()"> Retour </button>(mettre popup quitter sans enr...)
<div class = "horizontal-center" *ngIf="quiz && question && (image||!question.imageId)">
    <h1>Quiz : {{quiz.name}}</h1>
    
    <div class = "errorMessage" >
        {{quizService.answersInvalid(question)}}
    </div>

    <form [formGroup]="questionForm">
        <input type="text" size = "{{question.label.length}}" [formControlName]="'label'">
        <button id = "cancel" type="button" (click)="cancelQuestionLabel()"><i class="fas fa-undo-alt"></i></button>
    </form>
    <div class = "imageAndText">
        <div class="label">
            <label for="image64Up" class="button-card" id = "chargerImage">Charger une image depuis cet appareil</label>
            <button id = "cancel" type="button" (click)="cancelImageLoading()"><i class="fas fa-undo-alt"></i></button>
        </div>
        <div class="frame image" *ngIf="imageTemporaire.url || (image && image.url)">
            <img class="thumbnail" [src]="imageService.getImgSrc(imageTemporaire, image)" alt="question image">
        </div>
        <input type="file" class="hidden" id="image64Up" (change)="imageService.onChangeFile($event, imageTemporaire)" accept="image/*">
    </div>
    
    <h2>Réponses :</h2>
    
    <button id = "createAnswer" class="button-card" (click)="switchShowForm(true)"> <i class="fas fa-plus-circle"></i> Ajouter une réponse </button>
    <!--Peut-être à mettre dans une modal-->
    <div *ngIf="showForm">
        <app-answer-form-no-need [quiz]="quiz" [question]="question" (answerAdded)="switchShowForm($event)"></app-answer-form-no-need>
    </div>

    <div class="answer-list">
        <div *ngFor="let answer of question.answers">
                <app-answer-view [answer]="answer" [question]="question" [quiz]="quiz"></app-answer-view>
        </div>
    </div>
    
    <button id = "submitQuestion" class="button-card" (click)="submitQuestionLabel()">Tout enregistrer (n'enregistre pas tout encore)</button>
    <button id = "cancelAll" class="button-card" (click)="resetAll()">Tout annuler</button>

</div>