@import "./variables";

.thumb-container-small {
    height: 30%;
    width: 25%;
}

.thumbnail {
    object-fit: cover;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 100%;//80px;
    width: 100%;//100px
}

.frame{
    height: 7rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color: rgb(151, 87, 255);//rgb(243, 58, 144);
}

.thumbnail-header {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    height: 2rem;
    width: 2rem;
}

.hidden {
    opacity: 0;
    position: fixed;
    z-index: -1;
    bottom:-100px;
}