@import '../styles/variables.scss';

.fixed-container {
    height: 25%;
    width: 25%;
    min-height: 7rem;
    min-width: 7.1rem;//300px;
    margin-bottom: 1rem;
}

.fixed-container-bigger {
    height: 25%;
    width: 25%;
    min-height: 7rem;
    min-width: 15rem;
    margin-bottom: 1rem;
}

.flex-compat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.simple-flex {
    @extend .flex-compat;
    display: flex;
}

.center-flex {
    @extend .simple-flex;
    align-items: center;
    justify-content: center;
}

.horizontal-layout {
    @extend .center-flex;
    flex-direction: row;
}

.vertical-layout {
    @extend .center-flex;
    flex-direction: column;
}

.overflowing-text {
    white-space: nowrap;
    overflow: hidden;
}

.take-all-space{
    height: 90%;
    width: 100%;
}

.vertical-center{
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: fixed;//absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center{
    @extend .fixed-pos;
    margin: 1rem;//0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fixed-pos {
    position: fixed;
}

.horizontal-center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.responsive-list {
    @extend .horizontal-layout;
    flex-wrap: wrap;
}

.quiz-list {
    @extend .responsive-list;
    text-align: center;
    width: 100%;
}
  
.fixed-container-bigger {
    margin: 1rem;
}