@import '../styles/variables.scss';

.fixed-container {
    height: 25%;
    width: 25%;
    min-height: 7rem;
    min-width: 7.1rem;//300px;
    //border: dotted;
    //border-radius: 2px;
    //border-color: violet;
    margin-bottom: 1rem;
}

.fixed-container-bigger {
    height: 25%;
    width: 25%;
    min-height: 7rem;
    min-width: 15rem;//7.1rem;//300px;
    //border: dotted;
    //border-radius: 2px;
    //border-color: violet;
    margin-bottom: 1rem;
}

.flex-compat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.simple-flex {
    @extend .flex-compat;
    display: flex;
}

.center-flex {
    @extend .simple-flex;
    align-items: center;
    justify-content: center;
}

.horizontal-layout {
    @extend .center-flex;
    flex-direction: row;
}

.vertical-layout {
    @extend .center-flex;
    flex-direction: column;
}

.responsive-list {
    @extend .horizontal-layout;
    flex-wrap: wrap;
}

.overflowing-text {
    white-space: nowrap;
    overflow: hidden;
}

.take-all-space{
    height: 90%;
    width: 100%;
}

.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center{
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.horizontal-center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

