$app-background-color: #f2f2f2;
//$blue: #3f51b5;
$magenta: #903fb5;


$white:             white;

$very-light-purple: rgb(167, 193, 255);
$light-purple:      rgb(87, 90, 255);
$purple:            rgb(74, 0, 212);
$deep-purple:       rgb(69, 0, 158);


$very-light-blue:   rgb(95, 129, 192);
$blue:              rgb(12, 119, 207);//rgb(0, 173, 189);
$deep-blue:         rgb(43, 59, 199);

$light-grey:        rgb(122, 122, 122);
$grey:              rgb(122, 122, 122);
$dark-grey:         rgb(68, 68, 68);


