<label for="modal-associate" class="edit-button">Associer à certains</label>
<button type="button" class="hidden" id="modal-associate" (click)="modalService.open(associate)"></button>


<ng-template #associate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cocher les accueillis qui pourront jouer au quiz</h4>
      <button type="button" class="close" aria-label="Close" (click)="reset();modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="checkForm">
          <div *ngFor="let player of players; let i = index">
            <label formArrayName="checkBoxes" >
              <input type="checkbox" [formControlName]="i" />
              {{players[i].name}}
            </label>
          </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="submit();modal.close()">Ok</button>
          </div>
    </div>
  </ng-template>
