@import '../../../styles/card.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/images.scss';

#item {
    margin: auto;
    //background-color: rgb(255, 206, 206);  
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /*horizontal centering*/
    align-items:center; /*vertical centering*/
}

.clickableItem {
    //background-color: rgba(pink, 40%);
    //background-color: rgba(orange, 40%);
    background-color: rgba(lightblue, 50%);
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center; /*horizontal centering*/
    align-items:center;     /*vertical centering*/
    flex-direction: column;
}
.clickableItem:hover{
    cursor: pointer;
}

.thumbnailItem {
    width: 11rem;
    height: 8rem;
    object-fit: cover;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;      /* remove extra space below image */
    @extend .thumbnailItem;
}

.bigImg {
    @extend img;
    width: 12rem;
    height: 9.5rem;
}

.textItem {
    font-size: 175%;
}

.textItemAlone {
    font-size: 200%;
}