<div id="item">
    <div class="clickableItem" (click) = "answerSelected()">
        <div *ngIf="image.url; else noImage">
            <div *ngIf="answer.value; else noTxt">
                <img [src]="imageService.getImgSrc1(image)" alt="answer image">
                <div class="textItem">{{answer.value}}</div>
            </div>
            <ng-template #noTxt>
                <img class="bigImg" [src]="imageService.getImgSrc1(image)" alt="answer image">
            </ng-template>
        </div>
        <ng-template #noImage>
            <div *ngIf="answer.value" class="textItemAlone">{{answer.value}}</div>
        </ng-template>
    </div>
</div>
