<div *ngIf="!displayAns; elseBlock" class="box-small">
    <div class="answers_listing" *ngFor = "let answer of answers" >
        <app-answer-widget [answer] = "answer" (selected) = "onAnswerSelected($event)" ></app-answer-widget>
    </div>
</div>

<!--<ng-template #elseBlock>-->
<div *ngIf="displayAns">
    <div class="box-small">
        <div *ngIf="answerSelected!=null; else elseBlock">
            <div class="given_answer">Votre réponse:<br>
                {{answerSelected.value}}
            </div>
            <div *ngIf = "rightAnswer" class="right_answer">Réponse:<br>
                {{rightAnswer.value}}
            </div>
            <div *ngIf = "!rightAnswer">Réponse:<br><!--A enlever ^^-->
                 TOUS!!!
            </div>
        </div>
        <ng-template #elseBlock>
            <div *ngIf = "rightAnswer" class="right_answer">Réponse:<br>
                {{rightAnswer.value}}
            </div>
        </ng-template>
    </div>
    <button class="button-card next-button" (click) = "nextQuestion()">Suivant</button>
</div>