<div *ngIf="display === SHOW_ANSWER_TO_CHOOSE" class="grid">
    <div *ngFor = "let answer of answers">
        <app-answer-widget [answer] = "answer" (selected) = "onAnswerSelected($event)"></app-answer-widget>
    </div>
</div>

<div class ="answer-comparison" *ngIf="display === SHOW_ANSWER_COMPARISON">
    <app-display-right-versus-answer-selected [answerSelected] = "answerSelected" [answers] = "answers"></app-display-right-versus-answer-selected>
    <button class="button-card next-button" (click) = "skipComparison()">Suivant</button>
</div>

<div *ngIf="display === SHOW_RIGHT_ANSWER ">
    <app-display-right-answer [answers]=answers></app-display-right-answer>
    <button class="button-card next-button" (click) = "nextQuestion()">Suivant</button>
</div>