@import '../../../styles/card.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/images.scss';

.imageAndButton{
    display: flex;
}
.frame{
    margin-left: 1em;;
}

#chargerImage {
    border-radius: 1em;
}

.correctCheck{
    text-align: left;
}