.frame{
    height: 100px;//à revoir
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color:  rgb(243, 58, 144);
}

.thumbnail {
    object-fit: cover;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 100%;//80px;
    width: 100%;//100px
}