@import '../../../styles/images.scss';
@import '../../../styles/card.scss';


.label-for-recap{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

.frame{
    width: 60%;
    max-width: 350px;
    height: 40%;
    max-height: 400px;
}