@import 'src/styles/layout.scss';
@import "src/styles/card.scss";
@import '../../../styles/common.scss';

.flex-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}