@import '../../../styles/card.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/images.scss';

.answer{
    font-size: 1em;//100%; --> à voir... essayer d'avoir les 4     1 2
    margin: 0.5em; //                                              3 4 peu importe l'écran
    font-size: x-large;//--> responsive then
    width: 80%;
    height: 80%;
}