@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';
@import '../../../../styles/common.scss';

.player-list {
  @extend .responsive-list;
}

.player {
  padding: 0.5em;
  @extend .vertical-layout;
  text-align: center;
}


.player-card{
  @extend .button-card;
  @extend .player;
  width: 100%;
}

.button-player:hover {
  cursor: pointer;

}

.delete {
  align-self: flex-end;
}

.title {
  text-align: center;
}