<app-header [title] = "headerTitle"></app-header>
<div class="goback-button" routerLink= "..">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div class="home-button" routerLink= "/">
    <i class="fa fa-home" aria-hidden="true"></i>
</div>

<div class="main">
    <theme-form></theme-form>
    <br>
    <div class = "quiz-list" *ngIf = "THEME_LIST">
        <div class="fixed-container" *ngFor = "let theme of THEME_LIST">
            <button class="delete-button" (click)="deleteTheme(theme)">
                <i class="fas fa-times"></i>
            </button>
                {{theme.name}}
        </div>
    </div>
</div>