@import "../../styles/variables";
@import "../../styles/images.scss";
@import "../../styles/common.scss";

a:hover {
  cursor: pointer;
}

.navbar-text {
  margin: auto;
  text-align: center;
}

.text-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.nav-link {
  color: rgb(148, 0, 148);
}

.nav-link:hover {
  color: rgb(97, 0, 97);
  cursor: pointer;
}

#navbar {
  width: 100%;
}

.boostrapNavbar{
  //background-color:#e3f2fd;
  background-color: rgba(lightgreen, 40%);
  //background-color: rgba(rgb(228, 85, 85), 50%);
  background-image: linear-gradient(to right, lightblue , lightgreen);
}

.goBackButton{
  color: grey;
}