@import "../../styles/variables";
@import "../../styles/images.scss";
@import "../../styles/common.scss";

a:hover {
  cursor: pointer;
}

.text-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.coloredText {
  margin: auto;
  text-align: center;
  color: rgb(0, 0, 0);
}

i {
  color: white;
}

.nav-link {
  color: rgb(0, 38, 128);
}

.nav-link:hover {
  color: rgb(199, 80, 0);
  cursor: pointer;
}

.active {
  color: rgb(143, 57, 0);
}

#navbar {
  width: 100%;
}

.boostrapNavbar{
  background-color: rgba(lightgreen, 40%);
  background-image: linear-gradient(to right, rgb(105, 0, 226), rgb(105, 233, 126));
}

.goBackButton{
  color: grey;
}