<div *ngIf="currentQuestion">
    <button class="button-card" routerLink= "../..">Retour</button>
</div>

<div class="box center" *ngIf = "quiz">
    <!--<h2>-{{quiz.name}}-</h2>-->
    <div *ngIf = "currentQuestion; else elseBlock">
        <div class = "labelandimage">
            <div *ngIf="currentQuestion.label"><h4>{{currentQuestion.label}}</h4></div>
            <div *ngIf="image.url" class="question-image"><img class="thumbnail" [src]="getImgSrc()" alt="question image"></div>
        </div>
        <app-answer-list-widget [answers] = "currentQuestion.answers" (selected) = "onSelectedAnswer($event)" (next) = "onNext($event)"></app-answer-list-widget>
    </div>
    <ng-template #elseBlock>
        <button class="button-card button-recap" routerLink= "./quiz-summary">Récapitulatif</button>
        <button class="button-card button-recap" routerLink= "../..">Sauter le récapitulatif</button>
    </ng-template>
</div>