@import '../../../styles/card.scss';

.box{
    margin-top: 5px;
    height: 100%;//à revoir
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 10px;;
    border-color:  rgb(243, 58, 144);
    text-align: center;
}

.box-inherit{
    height: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.frame{
    height: 120px;//à revoir
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color:  rgb(243, 58, 144);
}

.thumbnail {
    object-fit: cover;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 100%;//80px;
    width: 100%;//100px
}

.button-recap {
    padding: 0.5em 0;
    font-size: 350%;
    margin-top: 5%;
    width: 100%;
    height: 80%;
    text-align: center;
  }
