@import '../../../styles/card.scss';
@import '../../../styles/images.scss';

.box{
    margin-top: 5px;
    height: 85%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 10px;;
    border-color:  rgb(243, 58, 144);
    text-align: center;
}

.box-inherit{
    height: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-recap {
    padding: 0.5em 0;
    font-size: 350%;
    margin-top: 5%;
    width: 100%;
    height: 80%;
    text-align: center;
  }
