@import '../../../styles/card.scss';
@import '../../../styles/images.scss';

.hidden {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.label {
    //margin-top: 0.5em;
    margin-top: 0.3em;
}

.image {
    float: right;
    //width: 30%;//50%
}

.buttons-bottom {
    margin-top: 1em;
}