<form [formGroup]="answerForm">
<label>
    Réponse
    <input type="text" [formControlName]="'value'">
    
    <br>
  <span *ngIf="!aRightAnswerIsAlreadyPresent || isSetToRight()">
    Correct
    <input type="checkbox" [formControlName]="'isCorrect'"> 
  </span>

    <br>
    <button id = "submitAnswer" class="button-card" (click)="submitAnswer()">Valider
    </button>
    <button id = "cancelAnswer" class="button-card" (click)="cancelAnswer()">Annuler
    </button>
    <br>
    
</label>
</form>