<div class="card">
  <h2>Nouveau quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">Nom</label><br>
    <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    <br>
    <label for="theme">Thème</label>
    <br>
    <select name = "Thème" id = "theme" [formControlName] = "'theme'"> 
      <option *ngFor = "let current_theme of THEME_LIST" [value] = "current_theme">
        {{current_theme}}
      </option>
    </select>
    <button class="button-card" type="button" (click)="switchShowTheme()">{{getThemeBtnTxt()}}</button>
    <div *ngIf="showThemeForm"><theme-form (themeAdded) = "switchShowTheme()"></theme-form></div>
    <br>
    Charger une image depuis:
    <div class="frame image" *ngIf="imagePreview">
      <img class="thumbnail" [src]="displayImage()" alt="quiz image">
    </div>
    <div class="label"><label for="modal-imageWeb" class="button-card">Internet</label></div>
    <div class="label"><label for="image64" class="button-card">Cet appareil</label></div>
    <div class="label"><label for="modal-imageDB" class="button-card">Banque d'images</label></div>


    <!-- modal -->
    MODAL!<br>
    <label for="url">Coller l'adresse de l'image:</label><br>
    <input class="input-custom" type="text" id="url" #url><!-- # for referencing url.value -->
    <button type="button" class="button-card" id="imageWeb" (click)="onChangeUrl(url.value)">Ok</button>


    <button type="button" class="hidden" id="modal-imageWeb" (click)="on">Internet</button>
    <button type="button" class="hidden" id="modal-imageDB" (click)="on">Banque d'images</button>
    <input type="file" class="hidden" id="image64" (change)="onChangeFile($event)" accept="image/*">

    <!--  for those who obviously didn't know...
    'press enter' triggers the 'submit' button/input action...
    so only ONE submit button of course + has to be THE SUBMIT button
    AND NOT THE 'cancel' one... the rest is just 'simple' buttons
    default type="submit" so careful! give an explicit type -->
    <!-- this below is the submit button (and the only one) -> submit the form -->
    <div class="buttons-bottom">
      <button type="submit" class="button-card" (click)="saveQuiz()">Créer</button>
      <button type="button" class="button-card" (click)="reset()">Annuler</button>
    </div>
  </form>
</div>