<div class="top-btn">
<button *ngIf="player; else noPlayerYet" class="btn btn-info" (click)="modalService.open(playerFormModal)"> 
  Modifier ses informations
</button>
</div>

<ng-template #noPlayerYet>
  <button class="btn btn-info" (click)="modalService.open(playerFormModal)"> 
    <i class="fas fa-plus-circle"></i> Nouvel Accueilli
  </button>
</ng-template>

<ng-template #playerFormModal let-modal>
  <div class="modal-header">
    <h4 *ngIf = "!player" class="modal-title" id="modal-basic-title">Créer un nouvel accueilli :</h4>
    <h4 *ngIf = "player" class="modal-title" id="modal-basic-title">Modifier les informations de l'accueilli :</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="player-form" [formGroup]="playerForm">
      <label class = "titre" for="name" style="margin-bottom: 1em;">Nom: </label>  
      <input type="text" size = "{{sizeInput()}}" id="name" [formControlName]="'name'">
      <div class = "imageAndButton">
        <ng-template [ngTemplateOutlet]="buttonCharging"></ng-template>
        <ng-template [ngTemplateOutlet] = "displayImage"></ng-template>    
      </div>
    </form>
  </div>
  <div class="modal-footer">
		<button type="submit" id="createQuestion" class="btn btn-primary" (click)="addOrUpdatePlayer();modal.close()">Valider</button>
    <button type="button" id="reset" class="btn btn-outline-secondary" (click) = "reset();modal.close()">Annuler</button>
  </div>
</ng-template>

<ng-template #buttonCharging>
  <div>
    <label id="imageBtn" for="image64playerForm" class="btn btn-sm btn-info">Ajouter une image</label>
    <input type="file" class="hidden" id="image64playerForm" (change)="imageService.onChangeFile($event,imageTmp)" accept="image/*">
  </div>
</ng-template>

<ng-template #displayImage>  
  <div class="fixed-container" *ngIf="imageTmp.url">
    <div class="quiz-card">
      <button type="button" class="delete-button" (click)="imageService.removeImg(imageTmp)"><i class="fas fa-times"></i></button>
      <img class="frame thumbnail" [src]="imageService.getImgSrc1(imageTmp)" alt="photo">
    </div>
  </div>
</ng-template>







