@import 'src/styles/card.scss';
@import 'src/styles/images.scss';
@import '../../../../styles/common.scss';

.top-btn {
    display: flex;
    justify-content: center;
}

.player{
    text-align: center;
}

.input-custom{
    margin-left: 1em;
}

.imageAndButton{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.delete-button {
    padding: 0.1rem 0.4rem;
}

.fixed-container {
    float: right;
}

.quiz-card {
    padding: 0;
    box-shadow: none;
}

.quiz-card:hover {
    cursor: default;
    background-color: white;
}

.frame{
    border: none;
    margin: 0;
}

.chargingButton {
    border-radius: 1em;
}

.label {
    padding-top: 5%;
    text-align: center;
}
.new-button {
    position: unset;
}

.titre {
    font-weight: bold;
    margin-right: 1em;
}

#imageBtn:hover {
  cursor: pointer;
}