<div *ngIf = "player">
  <ng-template [ngTemplateOutlet]="form"></ng-template>        
</div>

<div *ngIf = "!player" class="card"> 
  <ng-template [ngTemplateOutlet]="form"></ng-template>        
</div>

<!--Sert si on veux faire 2 trucs différents selon le form (prérempli ou pas)-->
<ng-template #form>
  <form class="player-form" [formGroup]="playerForm">
    <label for="name">Nom: </label>  
    <input class="input-custom" type="text" size = "{{sizeInput()}}" id="name" [formControlName]="'name'">
    <br>
    <div class = "imageAndButton">
      <ng-template [ngTemplateOutlet] = "displayImage"></ng-template>
      <ng-template [ngTemplateOutlet]="buttonCharging"></ng-template>        
    </div>
    <button type="submit" id="sumbit" class="button-card" (click)="addOrUpdatePlayer()">Enregistrer</button>
    <button type="button" id="cancelAnswer" class="button-card" (click)="reset()">Annuler</button>
  </form>
</ng-template>

<ng-template #buttonCharging>
  <div class="label">
    Charger une image depuis :<br>
    <label for="image64playerForm" class="button-card chargingButton" id = "chargerImage">Cet appareil</label>
    <input type="file" class="hidden" id="image64playerForm" (change)="imageService.onChangeFile($event,imageTmp)" accept="image/*">
    <!--<app-database-image-modal [imageTmp] = "imageTmp"></app-database-image-modal>-->
    <!--<app-internet-image-modal [imageTmp] = "imageTmp"></app-internet-image-modal>-->
  </div>
</ng-template>

<ng-template #displayImage>
  <div class="frame image" *ngIf="imageTmp.url || (playerImage && playerImage.url)">
    <img class="thumbnail" [src]="imageService.getImgSrc(imageTmp,playerImage)" alt="player image">
  </div>
</ng-template>







