@import '../../../styles/card.scss';
@import '../../../styles/images.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/common.scss';

#questionQuiz {
    position: absolute;
    left: 5%;
    right: 5%;
    margin-top: auto;
    background-color: rgb(255, 206, 206);  
    height: 35%;
    display: flex;
    justify-content: center; /*horizontal centering*/
    align-items:center; /*vertical centering*/
    text-align: center;
}

img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;      /* remove extra space below image */
    @extend .thumbnailItem;
}

.thumbnailItem {
    width: 13rem;
    height: 9rem;
    object-fit: cover;
}

.bigImg {
    @extend img;
    width: 15rem;
    height: 11rem;
}

.textItem {
    font-size: 200%;
}

.textItemAlone {
    font-size: 250%;
}