@import '../../../styles/card.scss';
@import '../../../styles/images.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/common.scss';


/*
.box {
    @extend .vertical-layout;
    @extend .center;
    width: fit-content;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 2rem;
}*/

.frame {
    height: 8rem;
    width: 12rem;
}

.button-card {
    width: 15rem;
    height: 8rem;
}

.place-button {
    position: fixed;
}

.button-end {
    @extend .button-purple-theme;
    height: 7rem;
    line-height: 7rem;
    width: 15rem;
    text-align: center;
    font-size: 3rem;
    position: fixed;
    bottom: 5rem;
    left: 12rem;
    //right: 10rem;
}