@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';

.quiz {
  padding: 0.5em;
  @extend .vertical-layout;
  text-align: center;
}

.quiz-list {
  @extend .responsive-list;
  text-align: center;
}

.quiz-card{
  @extend .button-card;
  @extend .quiz;
  width: 100%;
}

#bouton {
  align-items: center;
  justify-content: center;
}
