@import '../../../../styles/card.scss';
@import '../../../../styles/layout.scss';
@import '../../../../styles/common.scss';

.quiz {
  padding: 0.5em;
  @extend .vertical-layout;
  text-align: center;
}

#bouton {
  align-items: center;
  justify-content: center;
}

#redCenteredMsg {
  color: red;
  text-align: center;
  font-size: 3em;
}