<body>
<app-header [title]="headerTitle" [image]="image" [isHomeBrand]="false" [backIter]="'1'"></app-header>
    <div><!-- just here to fit below div -->
        <div class="btn btn-secondary" style="border: dotted; color: blue; background-color: #ffffff00; float: right;">
            <form [formGroup]="themeForm">
                Thème:
                <select name="Thème" id="selectTheme" [formControlName]="'theme'" (change)="filterQuizList()">
                    <option *ngFor = "let current_theme of THEME_LIST" [value] = "current_theme">
                    {{current_theme}}
                    </option>
                </select>
            </form>
        </div>
    </div>
    <div class="quiz-list" *ngIf="quizListFiltered && quizListFiltered.length!==0; else noQuizFound">
        <div class="fixed-container-bigger" *ngFor="let quiz of quizListFiltered">
            <div class="quiz-card"  routerLink= "./game/{{quiz.id}}">
                <app-quiz  [quiz]="quiz"></app-quiz>
            </div>
        </div>
    </div>
    <ng-template #noQuizFound>
        <div class="center" id="redCenteredMsg"> Aucun quiz trouvé </div>
    </ng-template>
</body>
