<app-header [title] = "headerTitle"></app-header>
<div class="goback-button" routerLink= "/">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>

<div class="main">
<div class = "center horizontal-center">
    <form [formGroup]="loginForm">
        <input class = "horizontal-center"[formControlName]="'password'" type="password" placeholder="Entrez le mot de passe">
        <button class = "big-button" (click) = "loginUser()">Valider</button>
        <div *ngIf="!isCorrect">
            Vous avez entrez une mauvaise valeur ... Veuillez réessayer !
        </div>
    </form>
</div>
</div>