@import '../../styles/images.scss';
@import '../../styles/layout.scss';
@import '../../styles/card.scss';
@import '../../styles/common.scss';

.image-list {
    @extend .quiz-list;
}

.image-card {
    @extend .quiz-card;
    padding: 0;
    box-shadow: none;
}

.image-card:hover {
    cursor: default;
    background-color: white;
}

.delete-button {
    padding: 0.1rem 0.4rem;
}

.frame{
    border: none;
    margin: 0;
}