<body>
<app-header [type]="'general'"></app-header>
<div class="image-list">
    <div *ngFor="let img of images">
        <div *ngIf="img.url" class="fixed-container">
            <div class="delete-button" (click)="checkIfImageIsUsed(img); modalService.open(deleteImageUsed)">
                <i class="fas fa-times" aria-hidden="true"></i>
            </div>
            <div class="image-card">
                <img class="frame thumbnail" [src]="globalService.getImgSrc1(img)" alt="answer image">
            </div>
        </div>
    </div>
</div>
</body>

<ng-template #deleteImageUsed let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation de suppression</h4>
        <button type="button" class="close" aria-label="Close" (click)="reset(); modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class = "errorMessage">
            Supprimer l'image de façon permanente ?
        </div>
        <div *ngIf = "used()" class = "errorMessage">
            <span style="font-style: italic; font-size: smaller;"><i class="fas fa-exclamation-triangle"></i> Attention cette image est utilisée dans au moins un quiz <i class="fas fa-exclamation-triangle"></i></span>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="deleteImg(imageSelected); modal.close();reset();">Supprimer</button>
      <button class="btn btn-outline-secondary" (click)="reset(); modal.close()">Annuler</button>
    </div>
</ng-template>