@import '../../styles/images.scss';
@import '../../styles/layout.scss';
@import '../../styles/card.scss';
@import '../../styles/common.scss';

.responsive-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.frame-list{
    border: 1px solid black;
    border-collapse: collapse;
}

.delete-button {
    //float: right;
    position: relative;
    //margin-left: 8rem;
    padding: 0.3rem 0.4rem;
}