@import 'src/styles/card.scss';
@import 'src/styles/images.scss';
@import 'src/styles/common.scss';
@import 'src/styles/layout.scss';

.tag{
    width: 35%;
    transform-origin: top;
    border: dotted rgb(151, 87, 255);
    color: rgb(255, 81, 0);
    text-align: center;
    padding-left: 0.2em;
    text-decoration: dotted;
    font-style: italic;
    font-size: 80%;
  }