<body>
<app-header [type]="'playerInfo'" [title]="headerTitle" [image]="playerPhoto" (tab)="onNavTabClicked($event)"></app-header>
<div *ngIf  = "player">

  <div *ngIf="playerPhoto.url && (currentTab=='info' || currentTab!='stats' && currentTab!='quizzes')">
    <app-player-form-modal [player] = "player" [playerImage] = "playerPhoto"></app-player-form-modal>
  </div>

  <div *ngIf="currentTab=='quizzes' && quizVisible">
    <app-associate-quiz-modal [quizzes]="quizzes" [player]="player"></app-associate-quiz-modal>
    <h3 style="text-align: center; margin-top: 0.5em; margin-bottom: 0.5em;">Liste des quiz actuellement visibles: </h3>
    <div class="quiz-list">
      <div class="fixed-container-bigger" *ngFor = "let quiz of quizVisible">
        <div class = "tag" *ngIf = "!globalService.isValid(quiz)">
            INCOMPLET
        </div>
        <button class="delete-button" (click)="removeVisibility(quiz)">
            <i class="fas fa-times"></i>
        </button>
        <div class="quiz-card"  routerLink= "../../quiz-list/{{quiz.id}}">
          <app-quiz  [quiz]="quiz"></app-quiz>
      </div>
      </div>    
    </div>
  </div>

  <div *ngIf="currentTab=='stats'">
    <h3 style="text-align: center; margin-top: 0.5em; margin-bottom: 0.5em;">Résultats obtenus: </h3>
    <app-statistics></app-statistics>
  </div>
</div>
</body>

