@import 'src/styles/card.scss';
@import 'src/styles/images.scss';

.player{
    text-align: center;
}

.input-custom{
    margin-left: 1em;
}

.imageAndButton{
    display: flex;
}
.frame{
    margin-left: 1em;;
}

#chargerImage {
    border-radius: 1em;
}

.label {
    padding-top: 5%;
    text-align: center;
}