@import 'src/styles/card.scss';
@import 'src/styles/images.scss';
@import 'src/styles/layout.scss';

.title {
    font-family: Arial, Helvetica, sans-serif;
  }
.subtitle {
    color: rgb(202, 3, 202);
}
.date{
    font-size: x-small;
}

i {
    width: 250px;
    text-align: center;
}

/* .quiz{
    max-height: 500px;
    max-width: 250px;
} */
