<app-header [title] = "headerTitle"></app-header>
<div class="goback-button" routerLink= "../..">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>

<div class="main">
<div class="box" *ngIf = "quiz">
    <div *ngIf = "currentQuestion; else elseBlock">
        <div class = "labelandimage">
            <div *ngIf="currentQuestion.label"><h4>{{currentQuestion.label}}</h4></div>
            <div *ngIf="image.url" class="question-image"><img class="thumbnail" [src]="imageService.getImgSrc1(image)" alt="question image"></div>
        </div>
        <app-answer-list-widget [answers] = "currentQuestion.answers" (selected) = "onSelectedAnswer($event)" (next) = "onNext($event)" (wrongAnswerEvent) = "onWrongAnswer($event)" (timeOutEvent) = "onTimeOut()"></app-answer-list-widget>
    </div>
    <ng-template #elseBlock>
        <button class="button-card button-recap" (click)="sendAttempt()" routerLink= "./recap">Récapitulatif</button>
    </ng-template>
</div>
</div>