@import '../../../styles/card.scss';
@import '../../../styles/images.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/common.scss';


.questionQuiz {
    font-size: 100%;
}

.frame {
    height: 8rem;
    width: 12rem;
}
