<span class="navbar-brand" routerLink="../.." style="color: grey; margin-left: 0.5em; float: left;">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
</span>
<div *ngIf = "quiz && currentQuestion"><!--; else elseBlock">-->
    <div id="questionQuiz">
        <div *ngIf="image && image.url; else noImage">
            <div *ngIf="currentQuestion.label; else noTxt">
                <div class="textItem">{{currentQuestion.label}}</div>
                <img [src]="imageService.getImgSrc1(image)" alt="question image">
            </div>
            <ng-template #noTxt>
                <img class="bigImg" [src]="imageService.getImgSrc1(image)" alt="question image">
            </ng-template>
        </div>
        <ng-template #noImage>
            <div *ngIf="currentQuestion.label" class="textItemAlone">{{currentQuestion.label}}</div>
        </ng-template>
    </div>
    <app-answer-list-widget [answers] = "currentQuestion.answers" (selected) = "onSelectedAnswer($event)" (next) = "onNext($event)" (wrongAnswerEvent) = "onWrongAnswer($event)" (timeOutEvent) = "onTimeOut()"></app-answer-list-widget>
</div>
<div *ngIf="theEnd">
<!--<ng-template #elseBlock>-->
    <div id="recapButton">
        <div class="recapButton" routerLink= "./recap">Récapitulatif</div>
    </div>   
</div> 
<!--</ng-template>-->