<div class="box">
    <div *ngIf="answerSelected !==null; else elseBlock" class="box-answers">
        <div class="answer-li">Votre réponse:<br>
            {{answerSelected.value}}
        </div>
        <hr>
        <div *ngIf = "rightAnswer" class="answer-li">Réponse:<br>
            {{rightAnswer.value}}
        </div>
        <!--<div *ngIf = "!rightAnswer">Réponse:<br><!--A enlever ^^-->
            <!-- TOUS!!!
        </div>-->
    </div>
    <ng-template #elseBlock>
        <app-display-right-answer [answers]=answers></app-display-right-answer>
    </ng-template>
</div>