@import '../../../styles/images.scss';

.box-answers {
    //margin-top: auto
    margin-bottom: auto;
    margin-top: auto;
    margin-top: 1em;
    border-style: solid;
    border-color:  rgb(179, 11, 89);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.answer-li {
    margin: auto;
}
.separation{
    width:5px;
    border-left:1px solid gray;
}

.victory-message{
    color: red;
    font-family: futura;
    font-style: italic;
}