.box-answers {
    height: 50%;
    width: 40%;
    margin: auto;
    padding: 1em;
    border-style: solid;
    border-color:  rgb(179, 11, 89);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.answer-li {
    margin: auto;
}

.frame{
    height: 100px;//à revoir
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color:  rgb(243, 58, 144);
}

.thumbnail {
    object-fit: cover;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 100%;//80px;
    width: 100%;//100px
}