<div class="new-question-form">
	<form [formGroup]="questionForm">
	<label class = "label" for="questionName">Intitulé : </label>&nbsp;
	<input type="text" size = "{{sizeInput()}}" [formControlName]="'label'" id="questionName">
	<br>
	<ng-template [ngTemplateOutlet] ="displayImage"></ng-template>
    <ng-template [ngTemplateOutlet]="buttonCharging"></ng-template>   
	<button type="submit" id="createQuestion" class="button-card" (click)="addOrUpdateQuestion()">Valider</button>
	<button type="button" id="reset" class="button-card" (click) = "reset()">Annuler</button>
	</form>
</div>

<ng-template #buttonCharging>
	<div class="">
	  Charger une image depuis :<br>
	  <label for="image64QuestionForm" class="button-card chargingButton" >Cet appareil</label>
	  <input type="file" class="hidden" id="image64QuestionForm" (change)="globalService.onChangeFile($event,imageTmp)" accept="image/*">
	  <app-internet-image-modal [imageTmp] = "imageTmp"></app-internet-image-modal>
	  <app-database-image-modal [imageTmp] = "imageTmp"></app-database-image-modal>
	</div>
</ng-template>

<ng-template #displayImage>  
	<div class="fixed-container" *ngIf="imageTmp.url">
		<div class="delete-button" (click)="globalService.removeImg(imageTmp)">	
			<i class="fas fa-times"></i>
	  	</div>
	  	<div class="quiz-card">
			<img class="frame thumbnail" [src]="globalService.getImgSrc1(imageTmp)" alt="question image">
		</div>
	</div>
</ng-template>