<div class="top-btn">
<button *ngIf = "!question" type="button" class="btn btn-info" (click)="modalService.open(questionFormModal)"> 
    <i class="fas fa-plus-circle"></i> Nouvelle question
</button>
<button *ngIf = "question" type="button" class="btn btn-info" (click)="modalService.open(questionFormModal)"> 
    Modifier la question
</button>
</div>

<ng-template #questionFormModal let-modal>
	<div class="modal-header">
	  <h4 *ngIf = "!question" class="modal-title" id="modal-basic-title">Créer une nouvelle question :</h4>
	  <h4 *ngIf = "question" class="modal-title" id="modal-basic-title">Modifier la question :</h4>
	  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<div class="new-question-form">
			<form [formGroup]="questionForm">
			<label class = "label" for="questionName" style="margin-bottom: 1em;">Intitulé : </label>&nbsp;
			<input type="text" size = "{{sizeInput()}}" [formControlName]="'label'" id="questionName">
			<div class="imageAndButton">
			  <ng-template [ngTemplateOutlet]="buttonCharging"></ng-template>  
			  <ng-template [ngTemplateOutlet] ="displayImage"></ng-template> 
		    </div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" id="createQuestion" class="btn btn-primary" (click)="addOrUpdateQuestion();modal.close()">Valider</button>
	    <button type="button" id="reset" class="btn btn-outline-secondary" (click) = "reset();modal.close()">Annuler</button>
	</div>
  </ng-template>

  <ng-template #buttonCharging>
	<div>
	<button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#imgBtns">Ajouter une image 
		<i class="fas fa-angle-down"></i></button>
	<div id="imgBtns" class="collapse">
		<span id="imageBtns">
		<app-database-image-modal [imageTmp] = "imageTmp"></app-database-image-modal>
		<app-internet-image-modal [imageTmp] = "imageTmp"></app-internet-image-modal>
	    <label id="image64Btn" for="image64QuizForm" class="btn btn-sm btn-secondary">Cet appareil</label>
		<input type="file" class="hidden" id="image64QuizForm" (change)="globalService.onChangeFile($event,imageTmp)" accept="image/*">
	    </span>
	</div>
   </div>
  </ng-template>

  <ng-template #displayImage>  
	<div>
	<div class="fixed-container" *ngIf="imageTmp.url">
	  <div class="quiz-card">
		<button class="delete-button" (click)="globalService.removeImg(imageTmp)"><i class="fas fa-times"></i></button>
		<img class="frame thumbnail" [src]="globalService.getImgSrc1(imageTmp)" alt="quiz image">
	  </div>
	</div>
	</div>
  </ng-template>
  <!--
<ng-template #displayImage>  
	<div class="fixed-container" *ngIf="imageTmp.url">
		<div class="delete-button" (click)="globalService.removeImg(imageTmp)">	
			<i class="fas fa-times"></i>
	  	</div>
	  	<div class="quiz-card">
			<img class="frame thumbnail" [src]="globalService.getImgSrc1(imageTmp)" alt="question image">
		</div>
	</div>
</ng-template>-->