<div class="card">
	<h3>Créer une nouvelle question :</h3>
	<form [formGroup]="questionForm">
	<label for="questionName">Intitulé</label>
	<br>
	<input type="text" [formControlName]="'label'" id="questionName">
	<br>
  Charger une image depuis
  <div class="frame image" *ngIf="imageTemporaire.url">
    <img class="thumbnail" [src]="imageService.getImgSrc1(imageTemporaire)" alt="quiz image">
  </div>
	<div class="label"><label for="image64QuestionForm" class="button-card">Cet appareil</label></div>
	<input type="file" class="hidden" id="image64QuestionForm" (change)="imageService.onChangeFile($event,imageTemporaire)" accept="image/*">
	<br>
	<button id="createQuestion" class="button-card" (click)="saveQuestion()">Créer</button>
	<button id="reset" class="button-card" (click) = "reset()">Annuler</button>
	</form>
</div>