@import 'src/styles/card.scss';
@import 'src/styles/images.scss';
@import "src/styles/variables";
@import 'src/styles/layout.scss';
@import 'src/styles/common.scss';

.top-btn {
    display: flex;
    justify-content: center;
}

.new-question-form{
    margin-left: auto;
    margin-right: auto;
}

.label {
    font-weight: bold;
}

.buttons-bottom {
    margin-top: 1em;
}

.delete-button {
    padding: 0.1rem 0.4rem;
}

.fixed-container {
    float: right;
}

.quiz-card {
    padding: 0;
    box-shadow: none;
}

.quiz-card:hover {
    cursor: default;
    background-color: white;
}

.frame{
    border: none;
    margin: 0;
}

.new-button{
    position: unset;
}

#image64Btn:hover {
  cursor: pointer;
}

.modal-larger {
    /*height: calc(100vh - 143px);
    min-height: 10em;
    max-height: 18em;
    overflow-y: auto; */
}
