@import '../../../styles/images.scss';
@import '../../../styles/layout.scss';

/*
.box-answers {
    //margin-top: auto
    margin-bottom: auto;
    margin-top: auto;
    margin-top: 1em;
    border-style: solid;
    border-color:  rgb(179, 11, 89);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}*/

.separation{
    width:5px;
    border-left:1px solid gray;
}

.victory-message{
    color: purple;
    font-weight: bold;
    font-family: futura;
    font-style: italic;
    text-align: center;
}

.frame {
    width: 15rem;
    height: 15rem;
}

.givenAnswer {
    margin-right: 1rem;
}

.rightAnswer {
    margin-left: 1rem;
}

.vsBlock {
    text-align: center;
}

.italic {
    font-style: italic;
}

.txtAns {
    font-weight: bold;
    font-size: 2rem;
}