<div *ngIf="answerSelected!==null && answerSelected!=rightAnswer; else elseBlock"
id="container-compare">
    <div class="givenAnswer">
        <div class="txt-small">Votre réponse :</div>
        <div *ngIf="imageSel.url" class="frame"><img class="thumbnail" [src]="imageService.getImgSrc1(imageSel)" alt="answer image"></div>
        <div *ngIf="answerSelected.value" class="txtAns">{{answerSelected.value}}</div>
    </div>
    <div class="separation"></div>
    <div *ngIf="rightAnswer" class="rightAnswer">
        <div class="txt-small">Réponse attendue :</div>
        <div *ngIf="image.url" class="frame"><img class="thumbnail" [src]="imageService.getImgSrc1(image)" alt="answer image"></div>
        <div *ngIf="rightAnswer.value" class="txtAns">{{rightAnswer.value}}</div>
    </div>
</div>
<ng-template #elseBlock>
    <div id="correct-choice">
    <div class = "victory-message" *ngIf = "answerSelected===rightAnswer">Bravo ! C'était : </div>
    <app-right-answer [answers]=answers [whatRight]="'selected'"></app-right-answer>
    </div>
</ng-template>