<app-header [title] = "headerTitle"></app-header>
<div class="goback-button" routerLink= "/admin">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div class="home-button" routerLink= "/">
    <i class="fa fa-home" aria-hidden="true"></i>
</div>

<div class="main">
    <div class="new-button" (click)="modalService.open(quizFormModal)"> 
        <i class="fas fa-plus-circle"></i> Nouveau Quiz
    </div> 
    <div class="theme-button">
        <form [formGroup]="themeForm">
            Thème:
            <select name="Thème" id="selectTheme" [formControlName]="'theme'" (change)="filteredQuizList()">
                <option *ngFor = "let current_theme of THEME_LIST" [value] = "current_theme">
                  {{current_theme}}
                </option>
            </select>
        </form>
    </div>
    <br> 
    <app-timer-form-modal></app-timer-form-modal>
    <br>
    <div class="quiz-list" *ngIf="quizListFiltered && quizListFiltered.length!==0; else noQuizFound">
        <div class="fixed-container-bigger" *ngFor="let quiz of quizListFiltered">
            <div class = "tag" *ngIf = "!globalService.isValid(quiz)">
                INCOMPLET
            </div>
            <button class="delete-button" (click)="deleteQuiz(quiz)">
                <i class="fas fa-times"></i>
            </button>
            <div class="quiz-card" routerLink= "./{{quiz.id}}">
                <app-quiz [quiz]="quiz"></app-quiz>
            </div>       
        </div>
    </div>
</div>

<ng-template #noQuizFound>
    <div class="center" id="redCenteredMsg"> Aucun quiz trouvé </div>
</ng-template>

<ng-template #quizFormModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Créer un nouveau quiz :</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-quiz-form-modal (quitForm) = "modal.close()"></app-quiz-form-modal>
    </div>
</ng-template>


