@import '../../../../styles/card.scss';
@import '../../../../styles/layout.scss';
@import '../../../../styles/common.scss';

.top-btns {
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
}

#newQuiz {
  margin: auto;
}

.container {
  width: 100%;
}
.card {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.tag{
  width: 35%;
  transform-origin: top;
  border: dotted rgb(151, 87, 255);
  color: rgb(255, 81, 0);
  text-align: center;
  padding-left: 0.2em;
  text-decoration: dotted;
  font-style: italic;
  font-size: 80%;
}

.button-quiz:hover {
  cursor: pointer;
}

#redCenteredMsg {
  color: red;
  text-align: center;
  font-size: 3em;
}