<body>
    <app-header [type]="'general'"></app-header>
    <div class="top-btns">
        <app-timer-form-modal></app-timer-form-modal>
        <div id="newQuiz"><app-quiz-form-modal></app-quiz-form-modal></div>
        <div><!-- just here to fit below div -->
            <div class="btn btn-secondary" style="border: dotted; color: grey; background-color: #ffffff00; float: right;">
                <form [formGroup]="themeForm">
                    Thème:
                    <select name="Thème" id="selectTheme" [formControlName]="'theme'" (change)="filteredQuizList()">
                        <option *ngFor = "let current_theme of THEME_LIST" [value] = "current_theme">
                        {{current_theme}}
                        </option>
                    </select>
                </form>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitches" (change)="switchOrder()">
                <label class="custom-control-label" for="customSwitches" style="margin-bottom: 1em;">Ordre chronologique</label>
            </div>
        </div>
    </div>
    <div class="quiz-list" *ngIf="quizListFiltered && quizListFiltered.length!==0; else noQuizFound">
        <div class="fixed-container-bigger" *ngFor="let quiz of quizListFiltered">
            <div class = "tag" *ngIf = "!globalService.isValid(quiz)">
                INCOMPLET
            </div>
            <button class="delete-button" (click)="deleteQuiz(quiz)">
                <i class="fas fa-times"></i>
            </button>
            <div class="quiz-card" routerLink= "./{{quiz.id}}">
                <app-quiz [quiz]="quiz"></app-quiz>
            </div>       
        </div>
    </div>
    <ng-template #noQuizFound>
        <div class="center" id="redCenteredMsg"> Aucun quiz trouvé </div>
    </ng-template>
</body>

