<button class="button-card" routerLink= "/admin">Retour</button>
<button class="button-card" routerLink= "/">Home</button>
<br>
<!-- put in a bootstrap modal -->
<!-- button: "Nouveau quiz" to triger it-->
<!--<app-quiz-form class="quiz-form"></app-quiz-form>-->
<div class="newQuiz">
<button class="button-card" (click) = "switchShowQuizForm(true)">Ajouter un nouveau Quiz <i class="fas fa-plus-circle"></i></button>
<div *ngIf = "showQuizForm">
    <app-quiz-form-modal (quitForm) = "switchShowQuizForm(false)"></app-quiz-form-modal>
</div>
</div>

<div class="quiz-list">
    <div class="card quiz fixed-container" *ngFor="let quiz of quizList">
        <button class="button-card delete" (click)="deleteQuiz(quiz)">
            <i class="fas fa-times"></i></button>
        <button class="card button-card quiz" routerLink= "./{{quiz.id}}">
            <app-quiz [quiz]="quiz" (quizDeleted) = "deleteQuiz($event)"></app-quiz>
        </button>
    </div>
</div>


