@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  //float: right;
}

.quiz {
  display: flex;
  flex-direction: column;

  padding: 0.5em;
  text-align: center;

  align-items: center;
  justify-content: center;
}

.button-quiz:hover {
  cursor: pointer;
}

.delete {
  align-self: flex-end;
}

.newQuiz{
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}