@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';

.quiz {
  padding: 0.5em;
  @extend .vertical-layout;
  text-align: center;
}
.invalid{
  color: red;
}

.quiz-list {
  @extend .responsive-list;
  text-align: center;
}

.quiz-card{
  @extend .button-card;
  @extend .quiz;
  width: 100%;
}

.button-quiz:hover {
  cursor: pointer;
}

.delete {
  align-self: flex-end;
  position: relative;
}

.newQuiz{
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

#redCenteredMsg {
  color: red;
  text-align: center;
  font-size: 3em;
}