<div *ngIf="answer; else noAnswerYet" class="new-answer-form">
    <form [formGroup]="answerForm">
      <label for="name" style="margin-bottom: 0.5em;">Réponse: </label>
      <input type="text" style="margin-left: 1em;" size = "{{sizeInput()}}" [formControlName]="'value'" id="name">
      <div class = "imageAndButton" style="margin-bottom: 0.5em;">
      <ng-template [ngTemplateOutlet] ="displayImageAns"></ng-template>
      <ng-template [ngTemplateOutlet]="buttonCharging0"></ng-template>
      </div>
      Correcte : <input type="checkbox" [formControlName]="'isCorrect'">
      <div class="buttons-bottom" *ngIf = "!answer || onChangeFile || removeImgisCalled">
        <button type="submit" id="submitAnswer" class="btn btn-primary" type="submit" (click)="submitAnswer();">Enregistrer</button>
        <button type="button" id="cancelAnswer" class="btn btn-outline-secondary" (click)="reset();">Annuler</button>
      </div>
    </form>
</div>

<ng-template #noAnswerYet>
  <div class="top-btn">
  <button [disabled]="moreFourAnswers" type="button" class="btn btn-info" (click)="modalService.open(answerFormModal)">
    <i class="fas fa-plus-circle"></i> Nouvelle Réponse
  </button>  
  </div>
</ng-template>
  
<ng-template #answerFormModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter une réponse :</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="answerForm">
      <label class = "titre" for="name" style="margin-bottom: 0.5em;">Réponse :</label>
      <input type="text" size = "{{sizeInput()}}" [formControlName]="'value'" id="name"><br>
      <label for = "correct" class = "titre" style="margin-bottom: 0.5em;"> Correcte : </label>
      <input id = "correct" type="checkbox" [formControlName]="'isCorrect'">
      <div class = "imageAndButton" style="margin-bottom: 0.5em;">
      <ng-template [ngTemplateOutlet]="buttonCharging"></ng-template>
      <ng-template [ngTemplateOutlet] ="displayImageAns"></ng-template>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)= "submitAnswer();modal.close()">Valider</button>
    <button type="button" class="btn btn-outline-secondary" (click) = "reset();modal.close()">Annuler</button>
  </div>
</ng-template>

<ng-template #buttonCharging>
  <div>
  <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#imgBtns">Ajouter une image 
		<i class="fas fa-angle-down"></i></button>
	<div id="imgBtns" class="collapse">
    <span id="imageBtns">
    <app-database-image-modal [imageTmp]="imageTmp" [id]="setLabel()" (onChangeFile_bis)="received($event)"></app-database-image-modal>
		<app-internet-image-modal [imageTmp]="imageTmp" [id]="setLabel()" (onChangeFile_bis)="received($event)"></app-internet-image-modal>
	    <label id="image64Btn" for="image64QuizForm{{setLabel()}}" class="btn btn-sm btn-secondary">Cet appareil</label>
		<input type="file" class="hidden" id="image64QuizForm{{setLabel()}}" (change)="onChange($event,imageTmp)" accept="image/*">
  </span>
  </div>
  </div>
</ng-template>

<ng-template #buttonCharging0>
  <div>
    <span id="imageBtns0">Charger une image : 
    <app-database-image-modal [imageTmp]="imageTmp" [id]="setLabel()" (onChangeFile_bis)="received($event)"></app-database-image-modal>
		<app-internet-image-modal [imageTmp]="imageTmp" [id]="setLabel()" (onChangeFile_bis)="received($event)"></app-internet-image-modal>
	    <label id="image64Btn"  for="image64QuizForm{{setLabel()}}" class="btn btn-sm btn-secondary">Cet appareil</label>
		<input type="file" class="hidden" id="image64QuizForm{{setLabel()}}" (change)="onChange($event,imageTmp)" accept="image/*">
  </span>
  </div>
</ng-template>

<ng-template #displayImageAns>  
	<div class="fixed-container-smaller" *ngIf="imageTmp.url">
		<div class="delete-button" (click)="removeImg(imageTmp)">	
			<i class="fas fa-times"></i>
	  	</div>
	  	<div class="quiz-card">
			<img class="frame thumbnail" [src]="globalService.getImgSrc1(imageTmp)" alt="answer image">
		</div>
	</div>
</ng-template>