<div class="new-answer-form">
  <div *ngIf = "allIsLoaded()">
    <form [formGroup]="answerForm">
      <label for="name">Réponse</label><br>
      <input type="text" size = "{{sizeInput()}}" [formControlName]="'value'" id="name">
      <ng-template [ngTemplateOutlet]="buttonCharging"></ng-template>
      <ng-template [ngTemplateOutlet] ="displayImageAns"></ng-template>
      Correcte : <input type="checkbox" [formControlName]="'isCorrect'"> <br>
      <button type="submit" id="submitAnswer" class="button-card" type="submit" (click)="submitAnswer()">Valider</button>
      <button type="button" id="cancelAnswer" class="button-card" (click)="reset()">Annuler</button>
      <button type="button" id="deleteAnswer" class="button-card" (click)="deleteAnswer()">Supprimer la réponse</button>
    </form>
  </div>
</div>


<ng-template #buttonCharging>
	<div class="label">
    Charger une image depuis :<br>
    <label for="image64AnswerForm{{setLabel()}}" class="button-card chargingButton" >Cet appareil</label>
	  <input type="file" class="hidden" id="image64AnswerForm{{setLabel()}}" (change)="imageService.onChangeFile($event,imageTmp)" accept="image/*">
    <app-database-image-modal [imageTmp] = "imageTmp" [id] = "setLabel()"></app-database-image-modal>
    <app-internet-image-modal [imageTmp] = "imageTmp" [id] = "setLabel()"></app-internet-image-modal>
  </div>
</ng-template>

<ng-template #displayImageAns>
	<div class="frame image fixed-container" *ngIf="imageTmp.url">
    <button type="button" class="delete" (click)="imageService.removeImg(imageTmp)"><i class="fas fa-times"></i></button>
    <img class="thumbnail" [src]="imageService.getImgSrc1(imageTmp)" alt="answer image">
  </div>
</ng-template>