@import 'src/styles/card.scss';
@import 'src/styles/images.scss';
@import 'src/styles/common.scss';
@import 'src/styles/layout.scss';

.top-btn {
    display: flex;
    justify-content: center;
}

.new-answer-form{
    margin-left: auto;
    margin-right: auto;
}

#chargerImage {
    border-radius: 1em;
}

.buttons-bottom {
    margin-top: 1em;
}

.delete-button {
    padding: 0.1rem 0.4rem;
    background-color: rgb(104, 66, 66);
}

.fixed-container-smaller {
    float: right;
}

.fixed-container {
    float: right;
}

.quiz-card {
    padding: 0;
    box-shadow: none;
}

.quiz-card:hover {
    cursor: default;
    background-color: white;
}

.frame{
    height: 4rem;
    width: 4rem;
    border: none;
    margin: 0;
}

.titre {
    font-weight: bold;
    margin-right: 1em;
}

#imageBtns {
    margin-left: 0.5em;
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: auto;
}

#image64Btn {
    width: 9em;
}

#image64Btn:hover {
    cursor: pointer;
}

.imageAndButton{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

/*
.modal-larger {
    height: calc(100vh - 143px);
    min-height: 10em;
    max-height: 18em;
    overflow-y: auto; 
}*/