@import '../../../styles/card.scss';
@import '../../../styles/layout.scss';
.question-list {  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow:auto; 
  height: 400px; 
  width: 50%; 
  border: 1px solid #AAAAAA
}
  
  
.errorMessage{
  color: rgb(238, 12, 12);
  font-weight: bold;;
}