@import '../../../styles/card.scss';
@import '../../../styles/images.scss';


.image {
    float: right;
    //width: 30%;//50%
}
.user{
    text-align: center;
}

.input-custom{
    margin-left: 1em;
}

.imageAndButton{
    display: flex;
}

.frame{
    margin-left: 1em;;
}

#chargerImage {
    border-radius: 1em;
}

.label {
    padding-top: 5%;
    text-align: center;
}