@import '../../../styles/card.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/common.scss';

#box-vertical {
    position: absolute;
    height: 100%;
    width: 80%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center; /*horizontal centering*/
    align-items:center; /*vertical centering*/
    text-align: center;
}

.item-vertical {
    //@extend .big-button;//.button-purple-theme;
    display: flex;
    justify-content: center; /*horizontal centering*/
    align-items:center; /*vertical centering*/
    text-align: center;
    width: 100%;
    height: auto;
    max-height: 28%;
}

.bravoName {
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 5%;
    padding: 0.5em;
}

.big-button {
    margin-top: 0;
    margin-bottom: 5%;
}