<button class="button-card" routerLink= "/customers">Retour</button>

<div class = "box">
    <div *ngIf = "quiz">
        <h2>-{{quiz.name}}-</h2>
        <app-display-right-answer [question] = "currentQuestion"></app-display-right-answer>
    </div>
    <div *ngIf = "questions.length!==0; else elseBlock">
        <button class="button-card" (click) = "nextQuestion()">Suite</button>
    </div>
    <ng-template #elseBlock>
        <div>
            <button class="button-card" routerLink= "../quiz-end">Fin</button>
        </div>
    </ng-template>
</div>