<div *ngIf="display === SHOW_ANSWER_TO_CHOOSE" class="grid">
    <div class="answer" *ngFor = "let answer of answers">
        <app-answer-widget [answer] = "answer" (selected) = "onAnswerSelected($event)"></app-answer-widget>
    </div>
</div>

<div class ="answer-comparison" *ngIf="display === SHOW_ANSWER_COMPARISON">
    <app-selected-vs-right-answer [answerSelected] = "answerSelected" [answers] = "answers"></app-selected-vs-right-answer >
</div>


<div *ngIf="display === SHOW_RIGHT_ANSWER ">
    <app-right-answer [answers]=answers></app-right-answer>
</div>

<div *ngIf="display === SHOW_RIGHT_ANSWER">
    <div *ngIf="displayNextButton" class="bottomBtn shazamButton" [@shazam]='zoom' (click)="nextQuestion()">
        <div>Suivant <i class="fa fa-arrow-right" aria-hidden="true"></i></div>
    </div>
</div>