@import '../../../styles/card.scss';
@import '../../../styles/common.scss';

#container {
    position: absolute;
    grid-gap: 1px;
    box-sizing: border-box; 
    top: 35%;
    margin-left: 5%;
    margin-right: 5%;
    height: 65%; 
    width: 90%; 
    background-color: #563d7c; 
    text-align: center;
    display: grid; 
    grid-template-columns: repeat( auto-fit, minmax(49%, 1fr) );
}

// Lien utile : https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout

.shazamButton {
    position: absolute;
    bottom: 5%;
    left: 20%;
    right: 20%;
    background-color: rgb(38, 139, 255);//default
    border-radius: 10rem;
    height: 10%;
    width: 40%;//16rem;
    padding: auto;
    margin: auto;
    text-align: center;
    font-size: 200%;//3rem;
    font-weight: bold;
    color: white;
    box-shadow: 0 6px 10px rgba(33, 34, 65, 0.2), 0 0 6px rgba(57, 44, 88, 0.15);
    display: flex;
    justify-content: center; /*horizontal centering*/
    align-items:center;     /*vertical centering*/
}

.shazamButton:hover {
    cursor: pointer;
}