@import 'src/styles/card.scss';
@import "src/styles/variables";
@import 'src/styles/images.scss';

.quiz-form{
    max-width: 300px;
}
.edit-quiz-form{
    margin-left: auto;
    margin-right: auto;
}

.label {
    //margin-top: 0.5em;
    margin-top: 0.3em;
}

.image {
    float: right;
    //width: 30%;//50%
}

.buttons-bottom {
    margin-top: 1em;
}

.label {
    //margin-top: 0.5em;
    margin-top: 0.3em;
}

.buttons-bottom {
    margin-top: 1em;
}

.quizName{
    text-align: center;
}
.quizTheme{
    text-align: center;
}