@import 'src/styles/card.scss';
@import "src/styles/variables";
@import 'src/styles/images.scss';
@import 'src/styles/common.scss';



.titre {
    font-weight: bold;
    margin-right: 1em;
}

.delete-button {
    padding: 0.1rem 0.4rem;
}

.fixed-container {
    float: right;
}

.quiz-card {
    padding: 0;
    box-shadow: none;
}

.quiz-card:hover {
    cursor: default;
    background-color: white;
}

.new-button{
    position: unset;
}

.frame{
    border: none;
    margin: 0;
}

.modal-larger {
    height: calc(100vh - 143px);
    min-height: 10em;
    max-height: 22em;
    overflow-y: auto; 
}