@import 'src/styles/card.scss';
@import "src/styles/variables";
@import 'src/styles/images.scss';
@import 'src/styles/common.scss';

.top-btn {
    display: flex;
    justify-content: center;
}

.titre {
    font-weight: bold;
    margin-right: 1em;
}

.delete-button {
    padding: 0.1rem 0.4rem;
}

.fixed-container {
    float: right;
}

.quiz-card {
    padding: 0;
    box-shadow: none;
}

.quiz-card:hover {
    cursor: default;
    background-color: white;
}

.new-button{
    position: unset;
}

.frame{
    border: none;
    margin: 0;
}

#imageBtns {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#image64Btn:hover {
    cursor: pointer;
}
/*
.modal-larger {
    height: calc(100vh - 143px);
    min-height: 10em;
    max-height: 22em;
    overflow-y: auto; 
}*/