<div class="edit-quiz-form">
  <form [formGroup]="quizForm">
    <label class = "name" for="name">Nom du quiz : </label>  
    <input class="quizName" size = "{{sizeInput()}}" type="text" id="name" [formControlName]="'name'">     
    <br>
    <label class = "theme" for="selectTheme">Thème : </label>
    <select name="Thème" id="selectTheme" [formControlName]="'theme'">
    <option *ngFor = "let current_theme of THEME_LIST" [value] = "current_theme">
      {{current_theme}}
    </option>
    </select>&nbsp;
    <theme-form></theme-form>
    <ng-template [ngTemplateOutlet] = "displayImage"></ng-template>
    <ng-template [ngTemplateOutlet]="buttonCharging"></ng-template>        
    <button class="button-card" id="confirmEdit" (click)="addOrUpdateQuiz()">Valider</button>
    <button class="button-card" id="cancel" (click)="reset()">Annuler</button>
  </form>
</div>

<ng-template #buttonCharging>
  <div class="label">
    Charger une image depuis :<br>
    <label for="image64QuizForm" class="button-card chargingButton" >Cet appareil</label>
    <input type="file" class="hidden" id="image64QuizForm" (change)="imageService.onChangeFile($event,imageTmp)" accept="image/*">
    <app-internet-image-modal [imageTmp] = "imageTmp"></app-internet-image-modal>
    <app-database-image-modal [imageTmp] = "imageTmp"></app-database-image-modal>
  </div>
</ng-template>

<ng-template #displayImage>  
  <div class="frame image thumb-container-small" *ngIf="imageTmp.url">
      <button class="delete" (click)="imageService.removeImg(imageTmp)">	<i class="fas fa-times"></i></button>
      <img class="thumbnail" [src]="imageService.getImgSrc1(imageTmp)" alt="quiz image">
</div>
</ng-template>

