@import '../../../styles/card.scss';

h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
h2 {
    color: rgb(202, 3, 202);
}
.date{
    font-size: x-small;
}

i {
    width: 250px;
    text-align: center;
}
.quiz{
    max-height: 500px;
    max-width: 250px;
}

.thumbnail {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 80%;//--> pour que s'adapte à taille du contenant
    //--> contenant qui s'adapte à taille de la fenetre
    //width: 200px;
    //height: 200px;
}
