@import '../../../styles/card.scss';

h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
h2 {
    color: blue;
}
.date{
    font-size: x-small;
}

i {
    width: 250px;
    text-align: center;
}
.quiz{
    max-height: 500px;
    max-width: 250px;
}

.thumbnail {
    width: 200px;
    height: 200px;
}
