<app-header [type]="'general'"></app-header>
<body>
    <div class = "theme-list" *ngIf = "THEME_LIST">
        <div class="theme-card" *ngFor = "let theme of THEME_LIST">
            <button class="delete-button" (click)="deleteTheme(theme)">
                <i class="fas fa-times"></i>
            </button>
            <div>
                {{theme.name}}
            </div>
        </div>
    </div>
</body>

<ng-template #themeFormModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter un thème</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-theme-form (themeAdded) = "modal.close()"></app-theme-form>
    </div>
</ng-template>