@import '../../../styles/images.scss';
@import '../../../styles/card.scss';
@import '../../../styles/layout.scss';


.label-for-recap{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

.frame{
    width: 100%;
    height: 100%;
    max-width: 350px;
}