@import '../../../styles/images.scss';
@import '../../../styles/card.scss';
@import '../../../styles/layout.scss';


.label-for-recap{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.frame{
    height: 20rem;
    width: 25rem;
}