@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';
@import 'src/styles/images.scss';
@import '../../../styles/common.scss';

.quiz-title {
  margin-bottom: 2rem;
  text-align: center;
}

.quiz-list {
  margin-top: 2rem;
}

.flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.fixed-container-bigger {
  @extend .flex-list;
}

.frame-little {
  margin-left: auto;
  margin-right: auto;
  border-style: dashed;
  border-color:  rgb(243, 58, 144);
  height: 30%;
  width: 30%;
}
.resultats{
  text-align: center;
  //margin: 1rem;
}

.answerList{
  @extend .horizontal-layout;
}

.quiz-card{
  margin: 1em;
}

.attempt-card {
  @extend .quiz-card;
  margin-left: auto;
  margin-right: auto;
  font-size: 20%;
}

