@import 'src/styles/card.scss';
@import 'src/styles/layout.scss';
@import 'src/styles/images.scss';
@import '../../../styles/common.scss';

.quiz-title {
  margin-bottom: 2rem;
  text-align: center;
}

.flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  //align-items: center;
  justify-content: center;
}

.fixed-container-bigger {
  @extend .flex-list;
}

.resultats{
  text-align: center;
}

.attempt-list {
  @extend .quiz-list;
}

.attempt-card {
  @extend .quiz-card;
  text-align: center;
  margin: 1rem;// auto;
  font-size: 20px;
  font-weight: normal;
  width: fit-content;
}

.frame-little {
  @extend .frame;
  height: 5rem;
  width: 5rem;
  border: none;
}

.frame-question {
  @extend .frame;
  border: none;
  height: 6rem;
  width: 6rem;
}

.card-answer {
  @extend .card;
  border-style: solid;
  border-radius: 7px;
  border-top: none;
  border-bottom: none;
  padding: 0;
  padding-top: 0.3em;
}

.card-wrong {
  @extend .card-answer;
  border-color: rgb(255, 32, 32);
}

.card-right {
  @extend .card-answer;
  border-color: rgb(21, 255, 0);
}