<app-header [title] = "headerTitle" [image] = "image"></app-header>
<div class="goback-button" *ngIf ="!quiz || quiz && !invalid()" (click)= "goBack()">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div class="goback-button" *ngIf ="quiz && invalid()" (click)="modalService.open(quizInvalid)">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div class="home-button" routerLink= "/">
  <i class="fa fa-home" aria-hidden="true"></i>
</div>

<div *ngIf ="quiz && image.url" class="img-edit-block">
  <app-quiz-form-modal [quiz] = "quiz" [image] = "image" ></app-quiz-form-modal>
</div>
<div *ngIf = "quiz" ><app-visibility-choice-modal [quiz] = "quiz" (hidden) = "switchHidden($event)"></app-visibility-choice-modal></div>

<div *ngIf ="quiz && quiz.questions">
  <app-question-list [quiz]="quiz"></app-question-list>
</div>


<ng-template #quizInvalid let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Quiz incomplet</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');goBack()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = "errorMessage">
      {{invalid()}}
    </div>
    <button class="button-card" (click)="goBack();modal.close()"> Quitter quand même </button>
    <button class="button-card" (click)="modal.close()"> Continuer l'édition </button>
  </div>
</ng-template>