<body>
<app-header [type]="'quizInfo'"[title] = "headerTitle" [image] = "image" (tab)="onNavTabClicked($event)"></app-header>
<div *ngIf ="quiz && image.url">
  <div *ngIf="currentTab=='info'">
    <div class="horizontal-center">
      <h2>{{quiz.name}}</h2>
      {{quiz.theme}}
      <div class="fixed-container">
          <img class="frame thumbnail" [src]="imageService.getImgSrc1(image)" alt="photo">
      </div>
    </div>
    <app-quiz-form-modal [quiz] = "quiz" [image] = "image" ></app-quiz-form-modal>
  </div>
  <div *ngIf="currentTab=='visibility'">
    <app-visibility-choice-modal [quiz] = "quiz" (hidden) = "switchHidden($event)"></app-visibility-choice-modal>
  </div>
  <div *ngIf="quiz.questions && currentTab!='info' && currentTab!='visibility'">
    <app-question-list [quiz]="quiz"></app-question-list>
  </div>
</div>

</body>

<ng-template #quizInvalid let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Quiz incomplet</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');goBack()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = "errorMessage">
      {{invalidMsg()}}
    </div>
    <button class="button-card" (click)="goBack();modal.close()"> Quitter quand même </button>
    <button class="button-card" (click)="modal.close()"> Continuer l'édition </button>
  </div>
</ng-template>