@import '../../../../styles/card.scss';
@import '../../../../styles/images.scss';
@import '../../../../styles/layout.scss';
@import '../../../../styles/common.scss';

.card {
    max-width: 60%;
}

.quizName{
    text-align: center;
}
.quizTheme{
    text-align: center;
}
.frame-little {
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color:  rgb(243, 58, 144);
    height: 10%;
    width: 10%;
    min-width: 20rem;
    min-height: 20rem;
}

.fixed-container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  
  .horizontal-center{
    margin-top: 2em;
  }