@import '../../../styles/card.scss';
@import '../../../styles/images.scss';

/*thumbnail{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width:80%;
}*/

.hidden {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.label {
    //margin-top: 0.5em;
    margin-top: 0.3em;
}

.buttons-bottom {
    margin-top: 1em;
}