@import '../../../styles/layout.scss';
@import "../../../styles/card.scss";

.flex-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}