
<label for="modal-imageDBQuiz" class="button-card chargingButton ">Banque d'images</label>
<button type="button" class="hidden" id="modal-imageDBQuiz" (click)="modalService.open(imgdbmodal)"></button>


<ng-template #imgdbmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Choisir une image:</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="responsive-list">
        <div class="button-card button-list" *ngFor="let img of gallery">
            <div *ngIf="img.url" class="frame-list">
              <img class="thumbnail-list" [src]="imageService.getImgSrc1(img)" (click)="onImgClicked(modal, imageTmp, img)" alt="DB image">
            </div>
        </div>
      </div>
    </div>
  </ng-template>